@import "./Variables.scss";

h1,
p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
}

p {
    margin-top: 8px;
    padding-top: 0;
}

#line {
    margin: auto;
    height: 0.5px;
    width: 45px;
    background-color: rgba(254, 95, 85, 1);
}

.contact-links {
    margin: 20px auto 0 auto;
    // width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div{
        display: flex;
        margin: auto;
        border-radius: 5px;
        width:300px;
    }
    #contact-linkedin{
        display: flex;
        margin: auto;
        border-radius: 5px;
        width:300px;
        text-decoration: none;
        margin-bottom: 20px;
    }
    #contact-github{
        display: flex;
        margin: auto;
        border-radius: 5px;
        width:300px;
        text-decoration: none;
    }
    #icon{
        background-color: rgba(162, 166, 255, 1);
        width:15%;
        border-radius: 5px;
        margin: 1px;
    }
    #details{
        background-color: rgba(254, 95, 85, 1);
        width: 85%;
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin: 1px;
        font-family: "Raleway";
        transition: transform 0.3s;
    }
    #details:hover{
        transform: scale(1.05);
    }
}

#msg{
    width: 100%;
    background-color: rgba(162, 166, 255, 1);
    margin:0 0 0 0;
    padding: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: large;
    box-sizing: border-box;
}