@import "./Variables.scss";

h1,p{
    text-align: center;
    font-family:  'Raleway', sans-serif;
    margin-bottom:5px;
}

p{
    margin-top: 8px;  
}

#line{
    margin: auto;
    height: 1.5px;
    width:45px;
    background-color: rgba(254, 95, 85, 1);
}

#github{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    align-items: center;
    h2{
        text-align: center;
        font-family:  'Raleway', sans-serif;
        margin-bottom:5px;
    }
}
