@import "./Variables.scss";

h1,p{
    text-align: center;
    font-family:  'Raleway', sans-serif;
    margin-bottom:5px;
}

p{
    margin-top: 8px;  
}

#line{
    margin: auto;
    height: 1.5px;
    width:45px;
    background-color: rgba(254, 95, 85, 1);
}

#github-container{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    align-items: center;
    h2{
        text-align: center;
        font-family:  'Raleway', sans-serif;
        margin-bottom:5px;
      color: black;
    }
    .github-stats{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
    #github-container{
        width:90%;
        margin:auto;
    }
    .github-stats{
        flex-direction: column;
    }
    #github-stats-card{
        margin-left: -5%;
        width: 120%;
    }
    #github-streak-stats{
        width: 110%;
    }
}
