@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.home {
  margin: auto;
  display: flex;
  justify-content: center;
}

#home-details {
  text-align: left;
}
#home-details h1 {
  text-align: left;
}
#home-details h2,
#home-details h3 {
  font-weight: normal;
}
#home-details button {
  color: white;
  border-radius: 15px;
  border: none;
  font-size: large;
  padding: 10px;
  margin: 10px;
}
#home-details .contact {
  background-color: rgb(254, 95, 85);
}
#home-details .about {
  background-color: rgb(64, 67, 78);
}
#home-details .flex {
  display: flex;
}
#home-details > div > div {
  background-color: rgb(246, 174, 45);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 25px 10px;
}

.phone {
  margin: 20px;
  background: #000000;
  width: 20em;
  height: 40em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-shadow: 0 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
}
.phone .inner-skin {
  flex-grow: 10;
  background-color: #eaeaff;
  border-radius: 1em;
  padding: 1.5em;
  position: relative;
}
.phone .inner-skin:before {
  content: "";
  position: absolute;
  width: 10em;
  height: 1em;
  border-radius: 1em;
  background-color: #000000;
  top: -0.5em;
  left: 5em;
}
.phone .inner-skin:after {
  content: "";
  position: absolute;
  width: 6.6666666667em;
  height: 0.5em;
  border-radius: 1em;
  background-color: #000000;
  bottom: 0.25em;
  left: 6.6666666667em;
}
.phone .inner-skin .phone-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phone .inner-skin .phone-content .title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
}
.phone .inner-skin .phone-content .title,
.phone .inner-skin .phone-content .subtitle {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.phone .inner-skin svg {
  width: 90%;
}

.button-rainbow {
  background-color: rainbowBackground;
}

.bounce {
  margin-top: 80px;
  height: 150px;
  border-radius: 50%;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-rainbow {
  background-color: rainbowBackground 5s infinite;
  color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  animation: rainbowBackground 5s infinite;
}

@keyframes rainbowText {
  0% {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: #00DB47;
  }
  60% {
    color: blue;
  }
  75% {
    color: violet;
  }
  100% {
    color: red;
  }
}
@keyframes rainbowBackground {
  0% {
    background: red;
    border-color: red;
  }
  14% {
    background: orange;
    border-color: orange;
  }
  32% {
    background: yellow;
    border-color: yellow;
  }
  46% {
    background: #00DB47;
    border-color: #00DB47;
  }
  72% {
    background: blue;
    border-color: blue;
  }
  85% {
    background: violet;
    border-color: violet;
  }
  100% {
    background: red;
    border-color: red;
  }
}
.color-red {
  color: red;
}

.color-orange {
  color: orange;
}

.color-yellow {
  color: yellow;
}

.color-green {
  color: #00DB47;
}

.color-blue {
  color: blue;
}

.color-violet {
  color: violet;
}

.color-indigo {
  color: indigo;
}

.terminal-container {
  text-align: left;
}

.terminal-container > h1 {
  margin: 40px;
  margin-top: 0;
}

.terminal-container > h3 {
  margin: 40px;
  margin-bottom: 0;
}

.recruitment-notifier {
  margin: 40px;
}
.recruitment-notifier .title,
.recruitment-notifier h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.recruitment-notifier .notification-status {
  width: 0.5em;
  height: 0.5em;
  border-radius: 1em;
  background: red;
  box-shadow: 0 0 0.5em red;
  display: inline-block;
  margin-right: 0.5em;
  animation: lightFlash 1s infinite;
}

@keyframes lightFlash {
  49% {
    background: red;
    box-shadow: 0 0 0.5em red;
  }
  50% {
    box-shadow: 0 0 0 transparent;
    background: #660000;
  }
  70% {
    box-shadow: 0 0 0 transparent;
    background: #660000;
  }
  71% {
    background: red;
    box-shadow: 0 0 0.5em red;
  }
}
.terminal {
  background: #0A1704;
  border-radius: 1em;
  box-shadow: 0 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
  font-family: monaco, Consolas, Lucida Console, monospace;
  width: 40vw;
  max-width: 40vw;
  text-align: left;
  margin: 20px;
}
@media only screen and (max-width: 1024px) {
  .terminal {
    width: 80%;
    max-width: inherit;
    background: #0e2006;
  }
}
.terminal .terminal-header {
  background: #000000;
  border-radius: 1em 1em 0 0;
}
.terminal .terminal-header .terminal-header-buttons {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
}
.terminal .terminal-header .terminal-header-buttons .terminal-button {
  width: 0.75em;
  height: 0.75em;
  border-radius: 1em;
  margin-right: 0.5em;
}
.terminal .terminal-header .terminal-header-buttons .terminal-button.close {
  background: #FF4746;
  border: 1px solid #b81717;
  position: relative;
}
.terminal .terminal-header .terminal-header-buttons .terminal-button.close:after {
  content: "";
  width: 0.25em;
  height: 0.25em;
  position: absolute;
  top: 0.1875em;
  left: 0.1875em;
  background: #b81717;
  border-radius: 1em;
}
.terminal .terminal-header .terminal-header-buttons .terminal-button.minimise {
  background: #FFBE00;
  border: 1px solid #aa7813;
}
.terminal .terminal-header .terminal-header-buttons .terminal-button.expand {
  background: #00DB47;
  border: 1px solid #0d791f;
}
.terminal .terminal-body {
  padding: 1em;
  color: #0D339D;
  height: 50vh;
  min-height: 30em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.terminal .terminal-body .has-text-weight-bold {
  color: #1142cc;
}
.terminal .terminal-body .text-info {
  color: #F45BEE;
}
.terminal .terminal-body h1 {
  margin-bottom: 0;
}
.terminal .terminal-body a {
  margin-top: 10px;
  color: orange;
}
.terminal .terminal-body p {
  margin: 10px;
}
.terminal .terminal-tmux-bar {
  background: #3D65D3;
  border-radius: 0 0 1em 1em;
  display: flex;
  flex-direction: row;
  color: #0D339D;
  font-size: 0.8em;
}
.terminal .terminal-tmux-bar p {
  color: #0D339D;
}
.terminal .terminal-tmux-bar .screen,
.terminal .terminal-tmux-bar .name {
  background: #F45BEE;
}
.terminal .terminal-tmux-bar .battery {
  background: #0A1704;
}
.terminal .terminal-tmux-bar .bar {
  flex-grow: 10;
}
.terminal .terminal-tmux-bar .screen,
.terminal .terminal-tmux-bar .name,
.terminal .terminal-tmux-bar .battery,
.terminal .terminal-tmux-bar .bar {
  padding: 0.5em;
}
.terminal .terminal-tmux-bar .screen {
  border-bottom-left-radius: 1em;
  padding-left: 1em;
}
.terminal .terminal-tmux-bar .name {
  border-bottom-right-radius: 1em;
  padding-right: 1em;
}
.terminal .terminal-control {
  color: #0D339D;
}
.terminal .terminal-control .terminal-input {
  color: #F45BEE;
}
.terminal .terminal-control .terminal-input .field .control.has-icons-left .icon {
  color: #F45BEE;
  height: auto;
  width: auto;
}
.terminal .terminal-control .terminal-input .field .label {
  color: #0D339D;
  margin-bottom: 0;
}
.terminal .terminal-control .terminal-input .field .input {
  background: transparent;
  border: none;
  padding-top: 0;
  padding-left: 1em;
  font-family: monaco, Consolas, Lucida Console, monospace;
  color: #0D339D;
  caret-color: transparent;
}
.terminal .terminal-control .terminal-input .field .input:hover, .terminal .terminal-control .terminal-input .field .input:active, .terminal .terminal-control .terminal-input .field .input:focus {
  outline: none;
  box-shadow: none;
}
.terminal .terminal-control .terminal-input .field .input:focus + .cursor {
  display: inline-block;
}
.terminal .terminal-control .terminal-input .field .cursor {
  display: none;
  background: #0D339D;
  width: 0.5em;
  height: 1.2em;
  animation: flash 1s infinite;
  position: absolute;
  top: 0.25em;
  left: 1em;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-4em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes rainbowBackground {
  0% {
    background: red;
    border-color: red;
  }
  14% {
    background: orange;
    border-color: orange;
  }
  32% {
    background: yellow;
    border-color: yellow;
  }
  46% {
    background: #00DB47;
    border-color: #00DB47;
  }
  72% {
    background: blue;
    border-color: blue;
  }
  85% {
    background: violet;
    border-color: violet;
  }
  100% {
    background: red;
    border-color: red;
  }
}/*# sourceMappingURL=Home.css.map */