.nav-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fde6df;
}

.navbar {
  width: 60%;
  margin: auto;
  // margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  h1 {
    background-color: #A2A6FF;
    border-radius: 50%;
    padding: 15px 10px;
    margin: 0;
  }

  #nav-menu-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-btn {
      font-size: x-large;
      font-family: "DM Sans", sans-serif;
      border: none;
      background-color: transparent;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

    .resume {
      background-color: #FE5F55;
      border-radius: 8px;
      padding: 0 5px;
      height: 50%;
      color: white;
      font-family: "DM Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      transition: transform 0.3s;
    }
    .resume:hover {
      cursor: pointer;
      transform: scale(1.05);
      text-decoration: none;
    }
  }
}


.nav-menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 768px) and (max-width: 1024px) {


  .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;

    h1 {
      padding: 10px 8px;
      font-size: 25px;
    }

    .menu {
      margin-left: 300px;
    }

    #nav-menu-container {
      display: none;

      button {
        display: none;
      }
    }
  }
}

@media all and (min-width: 0px) and (max-width: 767px) {
  #nav-menu-container {
    display: none;

    button {
      display: none;
    }
  }

  .navbar {
    width: 90%;

    h1 {
      padding: 10px 5px;
      font-size: 25px;
    }
  }
}