
$violetColor:violet;
$indigoColor:indigo;
$blueColor:blue;
$greenColor:#00DB47;
$yellowColor:yellow;
$orangeColor:orange;
$redColor:red;

$terminalBackground: #0A1704;
$terminalHeader: #000000;
$terminalBorder: 1em;
$terminalBar: #3D65D3;
$terminalBarAccents: #F45BEE;
$terminalText: #0D339D;
$terminalClose: #FF4746;
$terminalCloseBorder: #b81717;
$terminalMinimise: #FFBE00;
$terminalMinimiseBorder: #aa7813;
$terminalExpand: #00DB47;
$terminalExpandBorder: #0d791f;
$terminalButtonSize: .75em;
$primary-900: #0000cc;
$primary-800: #031ddb;
$primary-700: #182de6;
$primary-600: #273af3;
$primary-500: #2b44ff;
$primary-400: #5464ff;
$primary-300: #7883ff;
$primary-200: #a2a6ff;
$primary-100: #c9c9ff;
$primary-50: #eaeaff;

$primary: $primary-500;